@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #515151;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #515151;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #515151;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #515151;
}

input::placeholder, textarea::placeholder {
  color: #515151;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #515151;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #515151;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #515151  ;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #b1cbea;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #b1cbea;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #b1cbea;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #b1cbea;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #b1cbea;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #7397c2;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #b1cbea;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #b1cbea;
}

body {
  font-family: 'Lato', sans-serif;
  background: #b1cbea;
 
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
  color: #515151;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
  border-color: #515151;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #515151;
  
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  
}

.n{
  border-top:none;
  
  
}



input:hover {
  background: #515151;
  color: #b1cbea;
}



#submit {
  width: 502px;
  
  padding: 0;
  margin: 0px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #515151;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #515151;
  border-top: none;
}

#submit:hover {
  background-color: #515151;
  color: #b1cbea;
}

.p1{
  position: static;
  color: red;
  font-family: 'Lato', sans-serif;
  padding-left: 710px;
  padding-top: 70;
  width: 300px ;

}
.password-control {
	position: absolute;
	top: 68px;
	right: 14px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

.sslka{
  position: absolute;
  font-family: 'Lato', sans-serif;
width: 307px;
height: 15px;
left: 729px;
top: 150px;
font-size: 20px;
text-decoration: none;
color:  #6c6c6c;
}

.txt:hover{
  color: #9b9b9b;
}


.txt:active{
  color: #080706;
}
.sumbit{
  margin-top: 5px;
  border-color: #515151;
}
