{% extends "base1.html" %}

<h2>{{ the_title }}</h2>

{% block body %}


    <header>SIGN UP</header>

    <a href="http://127.0.0.1:5000/l" class="sslka"><span class="txt">or login</span></a>
    

    <form  method="post"  action="/r" id="form" class="topBefore">
		
		  <input name="l" pattern="^[^\s]+(\s.*)?$" id="l" type="text" maxlength="15" minlength="3" placeholder="LOGIN">
		  <input name="p" pattern="^[^\s]+(\s.*)?$" style="display: none"  class='n' id="p" type="password" maxlength="15" minlength="3" placeholder="PASSWORD">
          <a href="#" id="a1" class="password-control" style="display: none" onclick="return show_hide_password(this);"></a>

          <input id="submit" style="display: none" type="submit" class="sumbit"  value="REGISTER!">
  
    </form>

    <p class="p1">{{ the_incorect }}</p>

    <script>
       
        function show_hide_password(target){
            var input = document.getElementById('p');
            if (input.getAttribute('type') == 'password') {
                target.classList.add('view');
                input.setAttribute('type', 'text');
            } else {
                target.classList.remove('view');
                input.setAttribute('type', 'password');
            }
            return false;
        }



       
        
       button=document.querySelector("#p")
       textarea=document.querySelector("#l")
       button2=document.querySelector("#submit")
       button3 = document.getElementById('a1')
      
       textarea.oninput=function(){
          if(this.value==="") return button.style.display="none",button3.style.display="none"
          button.style.display="block"
          button3.style.display="block"
          
          button.oninput=function(){
             if(this.value==="") return button2.style.display="none"
             button2.style.display="block"
          }
             }
        
    
      
       
    </script>
        
  

{% endblock %}}